*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html
    font-size: 16px

body
    min-width: 80rem

.container
    position: relative
    width: 75rem
    margin: 0 auto

@import "blocks/_header"
@import "blocks/_friends"
@import "blocks/_footer"
@import "blocks/_media"

