@media screen and (max-width: 1279px)
    body
        max-width: 100%
    .header
        &_wrapper
            padding: 1.875rem
    .friends
        padding: 5.04rem 0 1rem 0
        &_list
            margin-top: 1.875rem
            grid-template-columns: repeat(2, 16.875rem)
            grid-template-rows: repeat(3 , 27.19rem)
            grid-auto-row: 27.19rem
            justify-content: center
            & div:nth-child(7)
                display: none
            & div:nth-child(8)
                display: none
        &_button
            margin-top: 2.5rem
    .footer
        padding-top: 0.8rem
        .container
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &_questions
            margin-right: 3.7rem
            margin-top: 1.1rem
        &_img
            margin-top: 4.125rem
        &_icon
            margin-right: 1.26rem
    .modal
        &_dialog
            width: 650px
            height: 450px
        &_content
            padding: 40px
        &_descr
            padding-right: 0
        &_img
            height: 300px
            width: 300px
            margin-right: 20px
        &_close
            right: -50px
            top: -35px

@media screen and (max-width: 767px)
    body
        max-width: 100%
    .header
        padding-bottom: 1.875rem
        .hamburger
            top: 3.06rem
            margin-left: -0.875rem
            display: block
            position: absolute
            height: 1.25rem
            width: 1.875rem
            span
                display: block
                margin-bottom: 8px
                height: 2px
                width: 100%
                background-color: #000000
        &_wrapper
            padding: 1.875rem 4.312rem 0 0.625rem
        &_nav
            display: none
    .friends
        padding: 2.625rem 0
        &_title
            font-size: 1.562rem
        &_list
            margin-top: 2.625rem
            grid-template-columns: repeat(1, 16.875rem)
            justify-content: center
            & div:nth-child(4)
                display: none
            & div:nth-child(5)
                display: none
            & div:nth-child(6)
                display: none
        &_button
            margin-top: 2.687rem
            margin-bottom: 0
            width: 18.7rem
    .footer
        &_wrapper
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
        &_questions
            margin-right: 0
        &_title
            font-size: 1.562rem
            text-align: center
        &_block
            margin-left: 0.81rem
        &_phone
            margin-left: 7px

        &_visit
            margin-top: 2.062rem
            margin-bottom: 2.5rem
            display: flex
            flex-direction: column
            justify-content: center

        &_header
            font-size: 1.562rem
            width: 15.625rem
            text-align: center
            margin: 0 auto
        &_block_visit
            margin-top: 2.5rem
        &_img
            margin-top: -6px
            width: 81%
            height: 16.812rem
    .modal
        &_dialog
            width: 250px
            height: 400px
        &_content
            padding: 10px
            display: flex
            flex-direction: column
        &_descr
            padding-right: 0
            h2
                font-size: 1.562rem
            h3
                font-size: 0.937rem
            p
                margin: 30px 0 30px 0
                padding-right: 20px
                width: 230px
                font-size: 0.8rem
            li
                font-size: 0.8rem
        &_img
            display: none
        &_close
            width: 35px
            height: 36px
            right: 4px
            top: 5px
            img
                height: 10px
                width: 10px
