
.friends
    position: relative
    padding: 5rem 0 2.2rem 0
    background: #F6F6F6
    .container
        display: flex
        flex-direction: column
    &_title
        text-align: center
        @include subtitle
    &_item
        padding: 3.5rem 20px 4rem 20px
    &_list
        padding: 0rem 2rem 0 2rem
        width: 65rem
        margin: 0 auto
    &_button
        height: 3.25rem
        width: 3.25rem
        background: #fff
        border-color: #F1CDB3
        border-radius: 6.25rem
        text-align: center
        cursor: pointer
        border-style: solid
        transition: 0.1s
        outline: none
        &:hover
            border-color: #FDDCC4
            background: #FDDCC4
    &_arrow
        display: block
        margin: -11px auto
        &:active
            color: #CDCDCD
    .slick-slide
        outline: none
        img
            width: 100%
    &_prev
        position: absolute
        top: 12.5rem
        left: -1.875rem
    &_next
        position: absolute
        top: 12.5rem
        right: -1.875rem
    &_wrapper
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 0 5px 1.87rem 5px
        max-width: 16.8rem
        height: 27.18rem
        background: #FAFAFA
        border-radius: 0.56rem
        cursor: pointer
        transition: 0.2s
        &:hover
            transform: scale(1.05)
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

    &_subtitle
        margin: 2rem 0 2.1rem  2px
        font-family: $font_georgia
        font-weight: 400
        font-size: 1.25rem
        line-height: 1.43rem
        text-align: center
        letter-spacing: 0.06em
        color: #545454
    &_btn
        padding: 6px 0 5px 1px
        width: 11.56rem
        height: 3.25rem
        background: #fff
        border-radius: 6.25rem
        font-family: $font_georgia
        font-weight: 400
        font-size: 1.06rem
        text-align: center
        letter-spacing: 0.06em
        color: #292929
        border-color: #F1CDB3
        border-style: solid
        cursor: pointer
        transition: 0.1s
        outline: none
        &:hover
            background: #FDDCC4
            border-color: #FDDCC4
    &_main_btn
        margin: 0 auto 4rem auto
        font-family: $font_georgia
        font-weight: 400
        font-size: 1.06rem
        line-height: 130%
        letter-spacing: 0.06em
        color: #292929
        width: 16.3rem
        height: 3.25rem
        background: #F1CDB3
        border-radius: 6.25rem
        border: 0
        cursor: pointer
        transition: 0.1s
        outline: none
        &:hover
            background: #FDDCC4
